@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900,900italic,700italic,500italic,400italic,300italic,100italic);

body {
  font-family: 'Roboto', Georgia, serif;
  font-weight: 300;
  background: #efefef;
  color: #222;  
  width: 40em;
  margin: 4rem auto;
  font-size: 18px;
  padding: 2em;
}

img {
  width:95%;
  border: 18px solid #fff;
}

.caption {
  font-size: 14px;
  font-style: italic;
}

li {
  padding: 0.6rem;
}

ul {
  color: rgba(0,0,0,.33); /* or whatever color you prefer */
}

h1 {
  font-weight: 700;
  font-size: 40px;
  /*color: rgba(0,0,0,0.89);*/
  color: rgba(0.37, 0.40, 0.38, 1.0);
  padding: 0;
  margin: 0;
}

h2 {
  font-weight: 900;
  /*letter-spacing: 0.05rem;*/
  /*text-transform: uppercase;*/
  margin: 1em 0 0.6em 0;
  color: rgba(0,0,0,0.6);
}

h3 {
  color: rgba(0,0,0,0.3)
}

a {
  color: rgba( 87, 138, 128, 0.99 );
  text-decoration: none;
  border-bottom: 6px solid rgba( 0, 0, 0, 0.1 );
  font-weight: 400;
  line-height: 28px;
}

a:hover {
  opacity: 0.7;
}
